In [23]:
import pandas as pd


new_df = pd.read_hdf('updated_copy.h5')
curr_df = pd.read_hdf('copy_number_data.h5')

In [24]:
curr_df
#curr_df.shape

,cell_line,A1BG,NAT2,ADA,CDH2,AKT3,ZBTB11-AS1,MED6,NR2E3,NAALAD2,...,HNRNPDL,DMTF1,PPP4R1,CDH1,SLC12A6,PTBP3,KCNE2,DGCR2,CASP8AP2,SCO2
0,1321N1,3.0,3.0,7.0,7.0,4.0,4.0,3.0,3.0,3.0,...,3.0,4.0,5.0,3.0,3.0,4.0,3.0,2.0,3.0,3.0
1,143B,3.0,3.0,5.0,3.0,3.0,4.0,5.0,5.0,3.0,...,3.0,3.0,5.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0
2,22RV1,2.0,3.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,...,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2313287,2.0,2.0,4.0,2.0,2.0,3.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,42MGBA,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,...,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,YH13,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
993,YKG1,4.0,4.0,4.0,3.0,4.0,4.0,2.0,3.0,2.0,...,2.0,5.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0
994,YMB1,3.0,3.0,4.0,4.0,7.0,3.0,3.0,4.0,2.0,...,4.0,5.0,4.0,6.0,4.0,3.0,2.0,5.0,4.0,2.0
995,ZR751,4.0,3.0,5.0,4.0,7.0,3.0,3.0,3.0,3.0,...,3.0,4.0,4.0,5.0,3.0,3.0,2.0,4.0,2.0,2.0
996,ZR7530,2.0,1.0,2.0,1.0,3.0,2.0,2.0,2.0,1.0,...,2.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0

In [10]:
curr_df.loc[1,'A1CF']

4.0

In [25]:
new_df2 = new_df.set_index(['DepMap_ID'])

new_df2 = new_df2[sorted(new_df2.columns)]

new_df2

,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2ML1-AS1,A2ML1-AS2,A2MP1,A3GALT2,...,ZWILCH,ZWINT,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1,ZZZ3
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
ACH-000001,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,4.0,4.0,7.0,4.0,4.0,1.5,3.0,4.0,2.0,3.0
ACH-000002,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0
ACH-000004,4.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,...,3.0,2.0,3.0,4.0,2.0,4.0,2.0,4.0,2.0,4.0
ACH-000005,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,...,3.0,2.0,3.0,4.0,2.0,4.0,2.0,4.0,2.0,4.0
ACH-000006,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ACH-003473,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
ACH-003474,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,4.0,2.0,4.0,3.0,3.0,3.0,3.0,6.0,3.0,3.0
ACH-003475,4.0,4.0,2.0,6.0,6.0,6.0,6.0,6.0,6.0,3.0,...,2.0,3.0,5.0,3.0,5.0,3.0,3.0,4.0,4.0,3.0
ACH-003476,4.0,4.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,5.0,4.0,3.0,4.0,4.0,4.0,3.0,5.0,4.0,4.0
ACH-003480,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,...,3.0,2.0,3.0,3.0,3.0,3.0,3.0,6.0,3.0,3.0

In [26]:
usecols = ['ModelID','StrippedCellLineName']
cell_df = pd.read_csv('Model.csv',usecols=usecols)
cell_df.rename(columns={'ModelID': 'DepMap_ID'}, inplace=True)
cell_df

#cells = list(cell_df['StrippedCellLineName'])
#cells

       DepMap_ID StrippedCellLineName
0     ACH-000001            NIHOVCAR3
1     ACH-000002                 HL60
2     ACH-000003                CACO2
3     ACH-000004                  HEL
4     ACH-000005              HEL9217
...          ...                  ...
2100  ACH-003473        CCLFPEDS0013T
2101  ACH-003474        CCLFHNSC0001T
2102  ACH-003475        CCLFHNSC0003T
2103  ACH-003476        CCLFHNSC0002T
2104  ACH-003480        CCLFTHYR0001T

[2105 rows x 2 columns]

In [27]:
merged_df = new_df2.merge(cell_df, on='DepMap_ID', how='inner')
merged_df.head()

,DepMap_ID,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2ML1-AS1,A2ML1-AS2,A2MP1,...,ZWINT,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1,ZZZ3,StrippedCellLineName
0,ACH-000001,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,...,4.0,7.0,4.0,4.0,1.5,3.0,4.0,2.0,3.0,NIHOVCAR3
1,ACH-000002,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,HL60
2,ACH-000004,4.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,3.0,4.0,2.0,4.0,2.0,4.0,2.0,4.0,HEL
3,ACH-000005,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,3.0,4.0,2.0,4.0,2.0,4.0,2.0,4.0,HEL9217
4,ACH-000006,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,MONOMAC6

In [20]:
merged_df.insert(1, 'StrippedCellLineName', merged_df.pop('StrippedCellLineName'))
merged_df = merged_df.rename(columns={'StrippedCellLineName': 'cell_line'})
merged_df = merged_df.drop(columns=['DepMap_ID'])
merged_df = merged_df.set_index('cell_line')

In [ ]:
merged_df.to_hdf('copy_number_data_041525.h5', 'es_df', mode='w')